
<div id='book-stats'>


  <span id='top-books'>
      <p>Best Books:</p>
      <% @top3.each do |book| %>
        <span class='stat-triplet'>
          <% id = book.id %>
          <a href= <%= "/books/#{id}" %> ><%= book.title %></a>
        </span>
      <% end %>
  </span>


  <span id='worst-books'>
    <p>Worst Books:</p>
    <% @low3.each do |book| %>
      <span class='stat-triplet'>
        <% id = book.id %>
        <a href= <%= "/books/#{id}" %> ><%= book.title %></a>
      </span>
    <% end %>
  </span>



  <span id='best-users'>
    <p>Top Reviewers:</p>
    <% @top_revs.each do |reviewer| %>
      <span class='stat_triplet'>
        <% id = reviewer.id %>
        <a href= <%="/users/#{id}"%>><%= reviewer.name %></a>
      </span>
    <% end %>
  </span>




</div>
