
<div id="books">

  <% @books.each do |book| %>
    <span class="book" id=<%="book-#{book.id}"%>>

      <% if current_page?(action: 'index') %>
        <%= link_to "#{book.title}", book_path(book), method: :get, class:'book-link' %>
      <% else %>
        <h2><%= book.title %> </h2>
        <%= link_to 'delete book', book_path(book), method: :delete %>
      <% end %>

      <p class='year'><%= book.year %></p>


      <span class='review-summary'>
        <p><%= book.average_score.round(2) %> rating from
          <%= book.review_count%> reader reviews</p>
        <%= link_to "Leave a Review", new_review_path(id: book.id) %>
      </span>


      <% book.authors.each.with_index do |author, index| %>
        <span class="book-authors">

          <% if index < book.authors.count-1 %>
            <%= link_to "#{author.name}", author_path(author), method: :get, class: "author-link" %>,
          <% else %>
            <%= link_to "#{author.name}", author_path(author), method: :get, class: "author-link" %>
          <% end %>

        </span>
      <% end %>

      <p>Pages: <%= book.pages %></p>

    </span>
  <% end %>
</div>
