
<div id="books">
  <% @books.each do |book| %>
    <span class="book" id=<%="book-#{book.id}"%>>
      <h3><%= book.title %></h3>
      <span class='review-summary'>
        <p><%= book.average_rating %> rating from
          <%= book.count_ratings%> reader reviews</p>
      </span>
      <p><%= book.year %></p>
        <% book.authors.each.with_index do |author, index| %>
          <span class="book-authors">
            <%= index < book.authors.count-1 ? author.name + ", " : author.name %>
          </span>
        <% end %>
      </p>
      <p>Pages: <%= book.pages %></p>
    </span>
  <% end %>
</div>
