
<div id="books">

  <%= render "components/book_sort" %>

  <% @books.each do |book| %>
    <span class="book" id=<%="book-#{book.id}"%>>
      <h3><%= book.title %></h3>
      <span class='review-summary'>
        <p><%= book.average_score %> rating from
          <%= book.review_count%> reader reviews</p>
      </span>
      <p><%= book.year %></p>
      <% book.authors.each.with_index do |author, index| %>
        <span class="book-authors">
          <% if index < book.authors.count-1 %>
            <a href= <%="/authors/#{author.id}"%>><%=author.name %></a>, 
          <% else %>
            <a href= <%="/authors/#{author.id}"%>><%=author.name %></a>
          <% end %>
        </span>
      <% end %>
      </p>
      <p>Pages: <%= book.pages %></p>
    </span>
  <% end %>
</div>
