
<div id="books">

  <%= render "components/book_sort" %>

  <% @books.each do |book| %>
    <span class="book" id=<%="book-#{book.id}"%>>

      <a class='book-link' href= <%="/books/#{book.id}"%>><%= book.title %></a>

      <span class='review-summary'>
        <p><%= book.average_score %> rating from
          <%= book.review_count%> reader reviews</p>
        <a href=<%="/reviews/new?id=#{book.id}"%>>Leave a Review</a>

      </span>

      <p><%= book.year %></p>

      <% book.authors.each.with_index do |author, index| %>
        <span class="book-authors">

          <% if index < book.authors.count-1 %>
            <a class='author-link' href= <%="/authors/#{author.id}"%>><%=author.name %></a>,
          <% else %>
            <a class='author-link' href= <%="/authors/#{author.id}"%>><%=author.name %></a>
          <% end %>

        </span>
      <% end %>

      <p>Pages: <%= book.pages %></p>

    </span>
  <% end %>
</div>
