<% @reviews.each do |review| %>
  <span class='users'>
    <li>Title: <%= review.title %></li>
    <li>Description: <%= review.description %> </li>
    <li>Score: <%= review.score %> </li>
    <li>Date Created: <%= review.created_at %> </li>
    <% id = review.id %>
    <%= link_to 'delete review', review_path(review), method: :delete %>
  </span>
<% end %>
