<%= render "components/header" %>

<div id="author-page">
  <h1> <%= @author.name %> </h1>
  <%= link_to 'delete author', author_path(@author), method: :delete %>


  <span id='best-review'>
    <% if @review != nil %>
      <p>Great Review: <%= @review.title %> </p>
      <p>Rating: <%= @review.score %> </p>
      <p>User:
        <%= link_to "#{@review.user.name}", user_path(@review.user), method: :get %>
      </p>
    <% else %>
      <p>no reviews</p>
    <% end %>
  </span>

  <h2 id='published-title'> Published Works: </h2>
  <div id='published'>

    <% @author.books.each do |book| %>

      <span class='author-book'>
        <%= link_to "#{book.title}", book_path(book), method: :get %>
        <p>Pages: <%= book.pages %> </p>

        <% if book.authors.length > 1 %>

          <p>Co-author(s):

            <% book.authors.each do |author| %>
              <% if author.name != @author.name %>
                <%= link_to "#{author.name}", author_path(author), method: :get %>
              <% end %>
            <% end %>

          </p>
        <% end %>

      </span>
    <% end %>

  </div>

</div>
