<%= render "components/header" %>

<div id="author-page">
  <h1> <%= @author.name %> </h1>
  <%= link_to 'delete author', author_path(@author), method: :delete %>


  <span id='best-review'>
    <% if @review != nil %>
      <p>Great Review: <%= @review.title %> </p>
      <p>Rating: <%= @review.score %> </p>
      <p>User:
        <a href= <%= "/users/#{@review.user.id}" %> ><%= @review.user.name %></a>
      </p>
    <% else %>
      <p>no reviews</p>
    <% end %>
  </span>

  <h2 id='published-title'> Published Works: </h2>
  <div id='published'>

    <% @author.books.each do |book| %>

      <span class='author-book'>
        <a href= <%= "/books/#{book.id}" %> ><%= book.title %></a>
        <p>Pages: <%= book.pages %> </p>

        <% if book.authors.length > 1 %>

          <p>Co-author(s):

            <% book.authors.each do |author| %>
              <% if author.name != @author.name %>
                <a href= <%= "/authors/#{author.id}" %> > <%= author.name %></a>
              <% end %>
            <% end %>

          </p>
        <% end %>

      </span>
    <% end %>

  </div>

</div>
