<h1> <%= @author.name %> </h1>
  <% @author.books.each do |book| %>
    <li>Published Work: <%= book.title %></li>
             <li>Pages: <%= book.pages %> </li>
      <li>Great Review: <%= @review.title %> </li>
      <li>Rating: <%= @review.score %> </li>
      <li>User: <%= @review.name %> 
  <% end %>
