<%= render "components/header" %>

<h1> <%= @user.name %> </h1>
<div class="sorting">
   <div class="sort-dropdown">
     <%= link_to "Oldest", user_path(@user, sort: "oldest") %>
     <%= link_to "Newest", user_path(@user, sort: "newest") %>
     
   </div>
 </div>

  <%= render "components/review" %>
