<%= render "components/header" %>

<%= render "components/book" %>

<div id='author-stats'>

<div id='stats-triplets'>
  <span class='doubles'>
  <h3> Top Three Reviews: </h3>
    <% @books[0].top_three_reviews.each do |review| %>
      <span class='top_three'>
        <p>Review: <%= review.title %> </p>
        <p>Rating: <%= review.score %> </p>
      </span>
    <% end %>
  </span>

  <span class='doubles'>
  <h3> Bottom Three Reviews: </h3>
    <% @books[0].bottom_three_reviews.each do |review| %>
      <span class='bottom_three'>
        <p>Review: <%= review.title %> </p>
        <p>Rating: <%= review.score %> </p>
      </span>
    <% end %>
  </span>
  </span>
</div>


</div>


<%= render "components/review" %>
